{% extends 'base.html' %}
{% load l10n %}
{% block title %}Products{% endblock %}
{% block menu %}
<a href="{% url 'product_add' %}">Add Product</a>
<a href="{% url 'basket_view' %}">Корзине</a>
<a href="{% url 'order_view' %}">Заказ</a>
{% endblock %}
{% block content %}
{% include 'partial/search.html' %}
<div class="content">
    <div class="product-list">
        {% if products %}
        {% for product in products %}
        <div class="product-item">
            <img class="product-img" src="/static/images/{{ product.photo }}">
            <div class="product-desc">
                <p class="product-title">{{ product.title }}</p>
                <p class="product-category">{{ product.category }}</p>
                <p class="product-price">{{ product.price|localize }} KZT</p>
                <p class="product-qty">{{ product.qty }} единиц</p>
                <p><a href="{% url 'product_view' product.id %}">see more >>></a></p>
                <p><a href="{% url 'check_basket' product.id %}">в корзину >>></a></p>
            </div>
        </div>
        {% endfor %}


        {% else %}


    <h1>Ошибка 404</h1>
    <h1>задачи не найдены.</h1>
        {% endif %}

    </div>
</div>
<br/> <br/>
{% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}
